@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Source+Code+Pro:wght@200&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');*/
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: #f5f3f3;
}
#header{
    background-color: white;
    height: 4em;
    position: fixed;
    z-index: 120;
    width: 100%;
    box-shadow: 0 0 20px rgb(0 0 0 / 25%);
}
#logo{
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}
#logo h1{
    margin-top: 7px;
    margin-left: 50px;
    padding: 5px;
    border: 1px solid black;
}
#logo a{
    text-decoration: none;
    color: black;
}
#logo h1 span:first-of-type{
    background-color: #caebf2;
    color: white;
    padding:0 8px 0 8px;
}
#logo h1 span{
    background-color: white;
}
#main{
    margin: 0 auto;
    min-height: calc(100vh - 64px - 100px);
    margin-bottom: 42px;
}
#main>div:not(#header){
    animation: fadeIn 1s;
}
#header ul{
    float: right;
    list-style: none;
    margin-right: 50px;
}
#header li{
    display:inline-block;
    padding: 7px 2em 0 2em;
}
#header li a{
    text-decoration: none;
    color: #a9a9a9;
    font-family: 'Montserrat', sans-serif;
}

#header ul a:hover{
    color: #f43f44;
}
.selected {
    color: #f43f44 !important;
}
#container{
    margin-top: 2%;
}
#box>h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
    text-align: center;
    color: black;
    margin-top: -50px;
    margin-bottom: 0;
}
#welcome-container, #typewriter, #typewriter-s, #welcome-container-a{
    margin-top: 5%;
    font-family: 'Source Code Pro', monospace;
    width: 100%;
    display: inline-block;
    text-align: center;
}
#welcome-container h1, #welcome-container-a h1{
    overflow: hidden;
    border-right: .08em solid black;
    white-space: nowrap;
    font-size: 2.6em;
    width: 0;
    animation-delay: 4.5s !important;
    animation: typing 3s steps(48, end) forwards,blink 1.5s infinite;
}
#welcome-container-a h1{
    animation-delay: 0.5s !important;
 }
#typewriter-s h1{
    animation: typing 1s steps(7, end) forwards,blink 1.5s infinite !important;
}
#typewriter h1, #typewriter-s h1{
    overflow: hidden;
    border-right: .08em solid black;
    white-space: nowrap;
    font-size: 2.6em;
    width: 0;
    animation-delay: 0.5s !important;
    animation: typing 1s steps(9, end) forwards,blink 1.5s infinite;
}
#welcome-container span, #typewriter span, #typewriter-s span, #welcome-container-a span{
    display: inline-block;
}
@keyframes typing {
    from { width: 0; }
    to { width: 100%;}
}
@keyframes blink {
    from { border-color: transparent; }
    to { border-color: black; }
}
#box{
    background-color: white;
    width: 95%;
    margin: auto;
    padding-top: 60px;
    height: fit-content;
}
#box>div{
    float: right;
    width: 60%;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    margin-top: 5em;
    padding: 0 80px 0 0;
    line-height: 1.5;

}
#box>div p{
    text-indent: 40px;
}
#space{
    margin-top: 50px;
}
#box div img{
    height: 100px;
    float: right;
    margin-top: -35px;
}
#box div a{
    padding: 5px 0 0 5px;
    font-size: 1.4em;
    border-radius: 10px !important;
    display: inline-block;
    position: relative;
    left: 50%;
    margin-top: 2em;
    transform: translate(-50%, -50%);

}
#box2 {
    display: flex;
    justify-content: space-around;
    margin: auto;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
#box2 div span{
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    margin-left: 25px;
}
.num{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3em !important;
    margin-left: 20px;
}
#box2 h2{
    border-bottom: 5px solid #f43f44;
    display: inline-block;
}
#box2 div{
    background-color: rgb(255, 255, 255);
}
footer{
    height: 100px;
    background-color: white;
    /*position: absolute;*/
    /*bottom: 0;*/
    width: 100%;
    box-shadow: 0 0 20px rgb(0 0 0 / 25%);
}
footer div{
    display: inline-block;
    margin: 20px 0 0 50px;
}
footer div a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #a9a9a9;
    position:relative;
    top: -10px;
    margin-right: 5px;
}
footer p{
    margin-top: 0;
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 10px;
}
#container-education h2, #container-skills h2{
    font-family: 'Montserrat', sans-serif;
    border-bottom: 5px solid #f43f44;
    display: inline-block;
    margin-top: 60px;
}
#left-education, #right-education{
    font-family: 'Montserrat', sans-serif;
    width: 48%;
    display: inline-block;
}
#left-education h3, #right-education h3{
    opacity: 85%;
}
#left-education p:first-of-type, #right-education p:first-of-type{
    background-color: rgba(69, 211, 241, 0.24);
    display: inline-block;
    padding: 10px;
    margin-bottom: 10px ;
}
#left-education p:last-of-type, #right-education p:last-of-type{
    margin: 0;
}
#right-education{
    float: right;
    margin-left: 0 !important;
}
#container-education, #container-skills{
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
}
#certificates ul{
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}
#certificates ul:first-of-type{
    width: 46%;
    display: inline-block;
}
#certificates li{
    border-left: 1px solid black;
    padding: 1px 0 1px 15px;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.43);

}
#certificates ul:last-of-type {
    width: 44%;
    float: right;
}
dd{
    margin-bottom: 20px;
    color: #f43f44;
}
#languages h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    width: 170px;
}
progress[value] {
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    width: 160px;
    border:1px solid black;
}
progress[value]::-webkit-progress-value {
    background-color: #000000;
}
progress[value]::-webkit-progress-bar {
    background-color: #ffffff;
}
#languages div{
    display: inline-block;
}
#languages>div{
    display: flex;
    justify-content: space-between;
}
#languages>div div:not(div:first-of-type){
    margin-top: 23px;
}
#strengths{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    margin-left: -45px;
}
#strengths li{
    border: 1px black solid;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    margin: 5px;
}
#strengths li:nth-of-type(2n){
    border: 1px #f43f44 solid;
}
#facebook, #mail, #github{
    background-color: black;
    display: inline-block;
    height: 30px;
    border-radius: 50%;
    width: 30px;
}
#facebook:hover, #mail:hover, #github:hover{
    background-color: #f43f44;
    transition: ease;
    transition-duration: 0.2s;
}
form{
    top: -300px;
    padding: 100px 300px 100px 300px;
    background-color: white;
    position: relative;
    z-index: 100;
    margin-bottom: 0;
}
label{
    display: block;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}
input:not(#button){
    height: 30px;
    width: 350px;
    display: block;
    border-radius: 5px;
    border:1px solid black;
    font-family: 'Montserrat', sans-serif;
    padding-left: 15px;
}
#left{
    width:35%;
    display: inline-block;
}
#right{
    float: right;
    width: 35%;
    margin-right: 180px;
}
textarea{
    display: block;
    border-radius: 8px;
    border:1px solid black;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
    padding-top: 10px;
}
#button{
    background-color: #f43f44;
    border-radius: 5px;
    border-color: transparent;
    height: 40px;
    width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 20px;
    margin-top: 60px;

}
#button:hover{
    background-color: black;
    transition: ease;
    transition-duration: 0.2s;
}
#contactme{
    margin-top: 120px;
    font-size: 55px;
    text-shadow: 10px 10px 0 white;
    margin-bottom: -55px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
#container-skills{
    margin:  50px 300px 0 300px;
}
#container-skills h2{
    font-family: 'Montserrat', sans-serif;
    border-bottom: 5px solid #f43f44;
    display: inline-block;
    margin-top: 60px;
}
video{
    display: block;
    margin: auto;
    position: relative;
    top: -60px;
}
.popup{
    width: 35%;
    height: 45%;
    background-color: white;
    position:absolute;
    top: 5%;
    left: 35%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(0 0 0 / 5%);
    display: flex;
    align-items: center;
}
.popup div div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup img{
    width: 15%;
}
.popup h1{
    font-family: 'Montserrat', sans-serif;
    border-bottom: 5px solid #f43f44;
    font-size: 3.5em;
    margin:0;
}
.popup h3{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: lighter;
}
.popup a, #box div a, #cv button{
    background-color: black;
    border-color: transparent;
    color: #f5f3f3;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    width: 20%;
    padding:10px 0 10px 0;
    justify-content: center;
    text-decoration: none;
    text-align: center;
}
.popup a:hover, #box div a:hover, #cv button:hover{
    background-color: #f43f44;
    transition: ease;
    transition-duration: 0.4s;
}
.mess-logo{
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
}
#message-footer{
    position: fixed;
    left: 50%;
    bottom: 0;

    transform: translate(-50%, -50%);
}
#message-footer p{
    margin-top: 0;
    margin-left: 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
#welcome{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vmax;
    z-index: 150;
    animation: left 1s;
    animation-delay: 3s;
}
@keyframes left {
    from{
        left: 0;
    }
    to{
        left:-200%;
        display: none;
    }
}
.homescreen{
    animation: fadeIn 2s;
    animation-delay: 3s;
}
